.indicator {
  width: 6px;
  height: 6px;
  transition: width 250ms ease;

  &[data-active] {
    width: 18px;
  }
}

.item {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
  border: 1px solid transparent;

  &[data-active] {
    background-color: var(--mantine-color-dark-5);
  }
}

.chevron {
  &[data-rotate] {
    transform: rotate(90deg);
  }
}
